@font-face {
    font-family: VK Sans Display Regular;
    src: url(../fonts/VKSansDisplay-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: VK Sans Display Medium;
    src: url(../fonts/VKSansDisplay-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: VKSansDisplay Bold;
    src: url(../fonts/VKSansDisplay-Bold.ttf);
    font-weight: 700;
}

body {
    font-family: "VK Sans Display", sans-serif;
    font-size: 18px;
    background-color: #EBEDF0;
}

nav {
    margin-top: 2%;
    box-shadow: 0 0 2px rgba(33, 37, 41, 0.25);
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #FCC917 !important;
}

.bg-while {
    background-color: #fff;
}

.swiper {
    margin-top: 2%;
    max-height: 310px;
    box-shadow: 0 0 12px rgba(33, 37, 41, 0.25);
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.swiper img {
    max-width: 100%;
}

.swiper:hover {
    transition: all .3s ease-in-out;
    transform: translateY(-5px);
    cursor: pointer;
}

.card {
    width: 24rem;
    background: #FFFFFF;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    margin-bottom: 10px;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all .3s ease-in-out;
    box-shadow: 0 0 2px rgba(33, 37, 41, 0.25);
}

.card-img-top {
    padding: 10px;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.card-text {
    text-align: justify;
    color: rgba(33, 37, 41, 0.5);
}

.card h4 {
    font-weight: bold;
}

.card-footer {
    background: none;
    border: none;
    padding: 1rem;
}


.btn-outline-warning {
    border: 1px solid rgba(33, 37, 41, 0.5);
    border-radius: 5px;
    color: #212529;
}


.btn-outline-warning:hover {
    border: 1px solid #FCC917;
    color: #212529;
    background: none;
}


footer {
    background: #FFFFFF;
    box-shadow: 0 0 2px rgba(33, 37, 41, 0.25);
    border-radius: 5px;
    margin-bottom: 2%;
}

footer .nav-link {
    color: #FFFFFF;
}

ul.nav {
    background-color: #FFFFFF;
    box-shadow: 0 0 2px rgba(33, 37, 41, 0.25);
    border-radius: 5px;
    color: #212529;
}

